<h1></h1>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="<%=  %>" type="button" class="btn btn-default">Agencia</a>
  </div>
  <div class="btn-group" role="group">
    <a href="<%= registro_model_path %>"  type="button" class="btn btn-default">Soy Modelo</a>
  </div>
  <div class="btn-group" role="group">
   <a href="<%=  %>" type="button" class="btn btn-default">Busco Modelos</a>
  </div>
</div>



